In [2]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [7]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                          title  year
0                  My Lady Boss  2013
1               Folly of Vanity  1924
2       The Gambler of the West  1915
3  Caleuche: El llamado del Mar  2012
4               Parachute Nurse  1942

In [ ]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

In [4]:
%matplotlib inline
import pandas as pd

In [6]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [1]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [8]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [9]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                          title  year
0                  My Lady Boss  2013
1               Folly of Vanity  1924
2       The Gambler of the West  1915
3  Caleuche: El llamado del Mar  2012
4               Parachute Nurse  1942

### Using groupby(), plot the number of films that have been released each decade in the history of cinema.

In [6]:
c = cast
c.groupby(c.year//10 * 10).year.size()

year
1890         3
1900        64
1910     36212
1920     61726
1930    178960
1940    189822
1950    186381
1960    160792
1970    184833
1980    242475
1990    325673
2000    627946
2010    893719
2020       161
dtype: int64

### Use groupby() to plot the number of "Hamlet" films made each decade.

In [8]:
t = titles[titles.title=='Hamlet']
t.groupby('year').year.size

In [9]:
t.groupby('year').year.size()

year
1910    1
1911    1
1913    1
1921    1
1948    1
1954    1
1964    1
1969    1
1973    1
1976    1
1987    1
1990    1
1996    1
2000    1
2009    1
2011    1
2014    1
2015    1
dtype: int64

### How many leading (n=1) roles were available to actors, and how many to actresses, in each year of the 1950s?

In [10]:
c = cast[cast.year//10 = 195]
c = c[c.n==1]
c.groupby('year','type').size()

SyntaxError: invalid syntax (<ipython-input-10-6c5c5f8ad0ff>, line 1)

In [11]:
c = cast[cast.year//10 == 195]
c = c[c.n==1]
c.groupby('year','type').size()

ValueError: No axis named type for object type <class 'pandas.core.frame.DataFrame'>

In [12]:
c = cast[cast.year//10 == 195]
c = c[c.n==1]
c.groupby(['year','type']).size()

year  type
1950  actor      621
      actress    151
1951  actor      647
      actress    144
1952  actor      606
      actress    150
1953  actor      652
      actress    156
1954  actor      634
      actress    173
1955  actor      639
      actress    146
1956  actor      642
      actress    152
1957  actor      734
      actress    157
1958  actor      704
      actress    153
1959  actor      720
      actress    174
dtype: int64

### In the 1950s decade taken as a whole, how many total roles were available to actors, and how many to actresses, for each "n" number 1 through 5?

In [13]:
c = cast[cast.year//10==195]
c = c[(c.n>=1) & (c.n <=5)]
c.groupby(['Title','Year']).size()

KeyError: 'Title'

In [14]:
c = cast[cast.year//10==195]
c = c[c.n <6]
c.groupby(['n','type']).size()

n    type
1.0  actor      6599
     actress    1556
2.0  actor      4550
     actress    2458
3.0  actor      5575
     actress    1735
4.0  actor      5581
     actress    1609
5.0  actor      5597
     actress    1452
dtype: int64

### Use groupby() to determine how many roles are listed for each of the Pink Panther movies.

In [16]:
c = cast[cast.title=='Pink Panther']
c.groupby(['year','character']).size()

Series([], dtype: int64)

In [17]:
c = cast[cast.title=='Pink Panther']
c.groupby['character'].n.max()

TypeError: 'method' object is not subscriptable

In [ ]:
c = cast[cast.title=='Pink Panther']
c.sort('bb').groupby['character'].n.max()b

In [10]:
c = cast[cast.character=='kermit the frog' | cast.character == 'Oscar the grouch']
c.head()

TypeError: cannot compare a dtyped [object] array with a scalar of type [bool]

In [11]:
c = cast[(cast.character=='Kermit the Frog') | (cast.character == 'Oscar the Grouch')]
c.head()

Empty DataFrame
Columns: [title, year, name, type, character, n]
Index: []

In [12]:
c = cast[(cast.character=='Kermit the Frog') | (cast.character == 'Oscar the Grouch')]
c.head()

,title,year,name,type,character,n
947844,An American Werewolf in London,1981,Jim Henson,actor,Kermit the Frog,18.0
947845,Follow That Bird,1985,Jim Henson,actor,Kermit the Frog,2.0
947850,The Great Muppet Caper,1981,Jim Henson,actor,Kermit the Frog,1.0
947858,The Muppet Movie,1979,Jim Henson,actor,Kermit the Frog,1.0
947865,The Muppets Take Manhattan,1984,Jim Henson,actor,Kermit the Frog,1.0

In [13]:
c.grouby([c.year//10 * 10]).size()

AttributeError: 'DataFrame' object has no attribute 'grouby'

In [14]:
c.groupby([c.year//10 * 10]).size()

year
1970    1
1980    6
1990    3
2000    2
2010    1
dtype: int64

In [15]:
c.groupby('character',[c.year//10 * 10]).size()

TypeError: unhashable type: 'list'

In [16]:
c.groupby([]'character',c.year//10 * 10]).size()

SyntaxError: invalid syntax (<ipython-input-16-6c046beed90a>, line 1)

In [17]:
c.groupby(['character',c.year//10 * 10]).size()

character         year
Kermit the Frog   1970    1
                  1980    4
                  1990    2
                  2000    1
                  2010    1
Oscar the Grouch  1980    2
                  1990    1
                  2000    1
dtype: int64

In [18]:
g=c.groupby(['character',c.year//10 * 10]).size()

In [19]:
g.unstack()

year              1970  1980  1990  2000  2010
character
Kermit the Frog    1.0   4.0   2.0   1.0   1.0
Oscar the Grouch   NaN   2.0   1.0   1.0   NaN

In [20]:
g.head()

character        year
Kermit the Frog  1970    1
                 1980    4
                 1990    2
                 2000    1
                 2010    1
dtype: int64

In [21]:
g.unstack(0)

character  Kermit the Frog  Oscar the Grouch
year
1970                   1.0               NaN
1980                   4.0               2.0
1990                   2.0               1.0
2000                   1.0               1.0
2010                   1.0               NaN

In [22]:
u = g.unstack(0).fillna(0)

In [23]:
u

character  Kermit the Frog  Oscar the Grouch
year
1970                   1.0               0.0
1980                   4.0               2.0
1990                   2.0               1.0
2000                   1.0               1.0
2010                   1.0               0.0

In [24]:
u['Kermit the Frog']-u['Oscar the Grouch']

year
1970    1.0
1980    2.0
1990    1.0
2000    0.0
2010    1.0
dtype: float64

### List, in order by year, each of the films in which Frank Oz has played more than 1 role.

In [25]:
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [26]:
c = cast[cast.name='Frank Oz']
c.head()

SyntaxError: invalid syntax (<ipython-input-26-80d7b89370ae>, line 1)

In [27]:
c = cast[cast.name=='Frank Oz']
c.head()

,title,year,name,type,character,n
1661774,An American Werewolf in London,1981,Frank Oz,actor,Mr. Collins,13.0
1661775,An American Werewolf in London,1981,Frank Oz,actor,Miss Piggy,13.0
1661776,Blues Brothers 2000,1998,Frank Oz,actor,Warden,4.0
1661777,Follow That Bird,1985,Frank Oz,actor,Cookie Monster,3.0
1661778,Follow That Bird,1985,Frank Oz,actor,Bert,3.0

In [28]:
c.groupby(['title']).size()

title
An American Werewolf in London                    2
Blues Brothers 2000                               1
Follow That Bird                                  3
Innocent Blood                                    1
Inside Out                                        1
Labyrinth                                         1
Monsters, Inc.                                    1
Muppet Treasure Island                            4
Muppets from Space                                4
Spies Like Us                                     1
Star Wars: Episode I - The Phantom Menace         1
Star Wars: Episode II - Attack of the Clones      1
Star Wars: Episode III - Revenge of the Sith      1
Star Wars: Episode V - The Empire Strikes Back    1
Star Wars: Episode VI - Return of the Jedi        1
Star Wars: Episode VII - The Force Awakens        1
Superman III                                      1
The Adventures of Elmo in Grouchland              3
The Blues Brothers                                1
The Dark Crystal                                  2
The Great Muppet Caper                            6
The Muppet Christmas Carol                        7
The Muppet Movie                                  8
The Muppets Take Manhattan                        7
Trading Places                                    1
Zathura: A Space Adventure                        1
dtype: int64

In [29]:
bbb

title                                           character
An American Werewolf in London                  Miss Piggy                                              1
                                                Mr. Collins                                             1
Blues Brothers 2000                             Warden                                                  1
Follow That Bird                                Bert                                                    1
                                                Cookie Monster                                          1
                                                Grover                                                  1
Innocent Blood                                  Pathologist                                             1
Inside Out                                      Subconscious Guard Dave                                 1
Labyrinth                                       The Wiseman                                             1
Monsters, Inc.                                  Fungus                                                  1
Muppet Treasure Island                          Animal                                                  1
                                                Fozzie Bear                                             1
                                                Miss Piggy                                              1
                                                Sam the Eagle                                           1
Muppets from Space                              Animal                                                  1
                                                Fozzie Bear                                             1
                                                Miss Piggy                                              1
                                                Sam the Eagle                                           1
Spies Like Us                                   Test Monitor                                            1
Star Wars: Episode I - The Phantom Menace       Yoda                                                    1
Star Wars: Episode II - Attack of the Clones    Yoda                                                    1
Star Wars: Episode III - Revenge of the Sith    Yoda                                                    1
Star Wars: Episode V - The Empire Strikes Back  Yoda                                                    1
Star Wars: Episode VI - Return of the Jedi      Yoda                                                    1
Star Wars: Episode VII - The Force Awakens      Yoda                                                    1
Superman III                                    Brain Surgeon                                           1
The Adventures of Elmo in Grouchland            Bert                                                    1
                                                Cookie Monster                                          1
                                                Grover                                                  1
The Blues Brothers                              Corrections Officer                                     1
                                                                                                       ..
The Great Muppet Caper                          Animal                                                  1
                                                Fozzie Bear                                             1
                                                Gramps                                                  1
                                                Miss Piggy                                              1
                                                Sam the Eagle                                           1
                                                Swedish Chef                                            1
The Muppet Christmas Carol                      Animal                                                  1
                                                Fozzie Bear as Fozziewig                                1
                                                George the Janitor                                      1
                                                Horse and Carriage Driver                               1
                                                Miss Piggy as Emily Cratchit                            1
                                                Sam the Eagle as Headmaster of Junior High Graduates    1
                                                Vegetable Salesman                                      1
The Muppet Movie                                Animal                                                  1
                                                Doc Hopper's Men                                        1
                                                Fozzie Bear                                             1
                                                Marvin Suggs                                            1
                                                Miss Piggy                                              1
                                                Motorcycle Guy                                          1
                                                Sam the Eagle                                           1
                                                Swedish Chef (assistant)                                1
The Muppets Take Manhattan                      Animal                                                  1
                                                Bert                                                    1
                                                Cookie Monster                                          1
                                                Fozzie                                                  1
                                                Miss Piggy                                              1
                                                Ocean Breeze Soap Board Member                          1
                                                Sam the Eagle                                           1
Trading Places                                  Corrupt Cop                                             1
Zathura: A Space Adventure                      Robot                                                   1
dtype: int64

In [30]:
g=c.groupby(['title','character']).size()
g[g>1]

Series([], dtype: int64)

In [31]:
g=c.groupby(['year','character']).size()
g[g>1]

year  character
1981  Miss Piggy    2
dtype: int64

In [32]:
g=c.groupby(['year','title']).size()
g[g>1]

year  title
1979  The Muppet Movie                        8
1981  An American Werewolf in London          2
      The Great Muppet Caper                  6
1982  The Dark Crystal                        2
1984  The Muppets Take Manhattan              7
1985  Follow That Bird                        3
1992  The Muppet Christmas Carol              7
1996  Muppet Treasure Island                  4
1999  Muppets from Space                      4
      The Adventures of Elmo in Grouchland    3
dtype: int64

### List each of the characters that Frank Oz has portrayed at least twice.

In [33]:
g=c.groupby(['character']).size()
g[g>1]

character
Animal            6
Bert              3
Cookie Monster    3
Fozzie Bear       4
Grover            2
Miss Piggy        6
Sam the Eagle     5
Yoda              6
dtype: int64

In [34]:
g[g>1].order()

C:\Users\Mathew\Anaconda3\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

character
Grover            2
Bert              3
Cookie Monster    3
Fozzie Bear       4
Sam the Eagle     5
Animal            6
Miss Piggy        6
Yoda              6
dtype: int64