# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
data = pd.io.stata.read_stata('us_job_market_discrimination.dta')

In [3]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [4]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

#What test is appropriate for this problem? Does CLT apply?
We should use a hypothesis test to find out whether race sounding name affects rate of callback. There will be 2 seperate bernoulli 
distributions for race black and white.For CLT to be applicable
1) the observations must be independent which it is.
2) the sample size should be significantly high which it is in this case. n(p)>10 and n(1-p)>10

So CLT is applicable.

#What are the null and alternate hypotheses?
H0 : The probability of callback is same for white and black sounding names i.e p_b = p_w
H1 : the probability of callback is different for black and white sounding names p_b != p_w

#Compute margin of error, confidence interval, and p-value.

In [41]:
#proportion of white people getting a callback
df_w = data[data.race=='w']
p_w_c = len(df_w[df_w.call==1])/len(df_w)
p_w_c


#proportion of black people getting a callback
df_b = data[data.race=='b']
p_b_c = len(df_b[df_b.call==1])/len(df_b)
p_b_c

#bernoulli distribution:
sigma_b = p_b_c*(1-p_b_c)
sigma_w = p_w_c*(1-p_w_c)

# for the sample distrbution
mean_dist = np.abs(p_w_c - p_b_c)
sigma_dist = np.sqrt((sigma_b*sigma_b/len(df_b)) + (sigma_w*sigma_w/len(df_w)))
m_of_error = 2*sigma_dist
m_of_error*100

print(mean_dist)
print(m_of_error*100)

0.0320328542094
0.429725240834

In [44]:
#Margin of error
0.4297252408339185
# Confidence Interval:
#mean_dist +- Margin of error
l_limit =0.0320328-0.0042 
u_limit=  0.0320328+0.0042 
print(l_limit)
print(u_limit)

0.0278328
0.0362328

In [46]:
p =  2 * stats.norm.cdf(0, mean_dist, sigma_dist)

In [47]:
print(p)

2.90076568112e-50

Since p is less than .05 we can reject the null hypothesis and say that 
the probability of callback is different for black and white sounding names